<div class="repositorylist">
	<div class="pull-right">
		<button type="button" class="btn btn-default btn-new">Create New Site</button>
	</div>
	<h1>My Sites</h1>
	<ul class="list-group">
	
	</ul>
	<script data-template="repositorylist_template" type="text/html">
{{#.}} 
  <li class="list-group-item {{style}}">
	<span class="pull-right">
		<button type="button" class="btn btn-default btn-view" data-id="{{id}}" data-name="{{name}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-default btn-edit" data-id="{{id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
		<button type="button" class="btn btn-default btn-delete" data-id="{{id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	</span>
    <h4 class="list-group-item-heading text-info">{{name}}</h4>
	{{#properties.homeurl}} 
    <p class="list-group-item-text"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{properties.homeurl}}</p>
	{{/properties.homeurl}} 
	{{#properties.description}} 
    <p class="list-group-item-text"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{properties.description}}</p>
	{{/properties.description}} 
  </li>
{{/.}} 
	</script>
</div>
